@using BusinessLogic.DTOs;
@model List<UserDto>;


<div class="container">
    @if (Model.Any())
    {
        <h3 class="align-content-center">Кількість зареєстрованих користувачів: @Model.Count()</h3>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Fisrt Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        var path ="300_"+user.Image;
                        <tr>
                            <th scope="row">@user.Id</th>
                            <td>
                                <img src="../images/@path" class="card-img-top w-25" alt="...">
                            </td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            <td>@user.UserRoles</td>
                            <td>
                                <div class="d-flex justify-content-evenly">

                                    <a asp-controller="Admin" asp-action="Edit" asp-route-id=@user.Id class="btn btn-danger">
                                        Редагувати
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-evenly">

                                    <a asp-controller="Admin" asp-action="Remove" asp-route-id=@user.Id class="btn btn-danger">
                                        Видалити
                                        <i class="bi-trash"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>           
        </div>

    }
    else
    {
        <h3>Users was not found...</h3>
    }
</div>
